* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #ffe6f0;
    color: #333;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header {
    background-color: #ff99cc;
    padding: 20px;
    text-align: center;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    position: relative;
}

header h1 {
    color: white;
    font-size: 2.5rem;
}

.menu-icon {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 2rem;
    cursor: pointer;
    color: white;
}

.header-logo {
    position: absolute;
    top: 20px;
    right: 20px;
}

.header-logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

main {
    flex: 1;
    padding: 20px;
    border-radius: 50px;
    background-color: #ffccdd;
    margin: 20px;
    text-align: center;
}

main h2 {
    color: #ff66b2;
    font-size: 2rem;
    margin-bottom: 10px;
}

footer {
    background-color: #ff99cc;
    color: white;
    text-align: center;
    padding: 10px 0;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.links-list {
    list-style: none;
    padding-left: 0;
    text-align: center;
    margin: 20px auto;
}

.links-list li {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.links-list li img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.links-list li a {
    text-decoration: none;
    color: #ff66b2;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}

.links-list li a:hover {
    text-decoration: underline;
}

nav {
    position: fixed;
    left: -250px;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: #ff80bf;
    transition: left 0.3s ease;
    padding-top: 20px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    z-index: 999;
}

nav .logo {
    text-align: center;
    margin-bottom: 30px;
}

nav .logo img {
    width: 80%;
    max-width: 150px;
    border-radius: 50%;
}

/* Menü links */
nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    margin-bottom: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    display: block;
    padding: 10px;
    border-radius: 30px;
    background-color: #ff66b2;
}

nav ul li a:hover {
    background-color: #ff99cc;
}

#hover-area {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 50px;
    z-index: 1000;
}

nav.closed {
    left: -250px;
}

.section {
    display: none;
}

.section.active {
    display: block;
}
